## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [56]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [57]:
# Your code here
sample_list_1=random.sample(range(0,101), k=80)
print(sample_list_1)

[16, 34, 18, 7, 93, 22, 60, 41, 21, 2, 95, 23, 88, 1, 9, 91, 79, 19, 98, 12, 46, 15, 8, 3, 0, 20, 35, 84, 59, 26, 33, 36, 71, 92, 68, 53, 43, 52, 62, 70, 11, 67, 74, 5, 55, 73, 65, 14, 86, 24, 89, 44, 6, 10, 17, 78, 96, 13, 85, 37, 83, 97, 69, 50, 72, 28, 80, 31, 82, 81, 56, 57, 25, 66, 63, 48, 40, 39, 49, 54]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [98]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 31, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 95, 96, 97, 98}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [59]:
# Your code here
sample_list_2=[random.randint(0,101) for i in range(80)]
print(sample_list_2)

[68, 38, 12, 26, 37, 84, 42, 77, 71, 2, 56, 49, 25, 73, 69, 23, 34, 23, 89, 72, 93, 5, 70, 80, 10, 29, 86, 40, 78, 8, 3, 42, 59, 8, 63, 68, 6, 96, 98, 17, 41, 0, 72, 94, 34, 101, 6, 56, 63, 44, 48, 22, 77, 20, 40, 30, 42, 45, 8, 69, 35, 57, 80, 27, 6, 60, 93, 54, 6, 19, 74, 34, 69, 96, 40, 32, 97, 24, 55, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [60]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

# No the length is now 58 because also non unique numbers have been created in the sample_list_2. These duplicate values have then been eliminated when we changed the list to a set.

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [86]:
# Your code here
set3=set1-set2
print(set3)
len(set3)

{1, 7, 9, 11, 13, 14, 15, 16, 18, 21, 28, 31, 33, 36, 39, 43, 46, 50, 52, 53, 62, 65, 66, 67, 79, 81, 82, 83, 85, 88, 91, 92, 95}

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [63]:
# Your code here
set4=set2-set1
print(set4)
len(set4)

{32, 101, 38, 42, 45, 77, 94, 27, 29, 30}

10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [64]:
# Your code here
set5=set1.intersection(set2)
print(set5)
len(set5)

{0, 2, 3, 5, 6, 8, 10, 12, 17, 19, 20, 22, 23, 24, 25, 26, 34, 35, 37, 40, 41, 44, 48, 49, 54, 55, 56, 57, 59, 60, 63, 68, 69, 70, 71, 72, 73, 74, 78, 80, 84, 86, 89, 93, 96, 97, 98}

47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [104]:
# Your code here
print("Length Set1: ",len(set1),"  Length Set2: ",len(set2),"  Length Set3: ",len(set3),"  Length Set4: ",len(set4),"  Length Set5: ",len(set5))

print(len(set1)==len(set2)+len(set3)-len(set4))
print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set5)+len(set4))

Length Set1:  80   Length Set2:  57   Length Set3:  33   Length Set4:  10   Length Set5:  47
True
True
True

#### Create an empty set called `set6`.

In [65]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 31, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [67]:
# Your code here
if set1==set6:
    print("set1 and set6 are equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
# Your code here
set7=set3.union(set4, set5)
set8=set1.union(set2)
print(set7)
print(set8)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 101}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [80]:
# Your code here
print(set1)
# changing to list as pop method only removes random item with sets
set1_list=list(set1)
set1_list.pop(0)
print(set1_list)
# changing list back to set
set1_new=set(set1_list)
print(set1_new)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 31, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 95, 96, 97, 98}
[2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 31, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 95, 96, 97, 98]
{2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 31, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [83]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove=set(list_to_remove)
set1_removed=set1_new-set_remove
print(set1_removed)

{2, 3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 33, 34, 35, 36, 37, 40, 43, 44, 46, 48, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 78, 80, 82, 83, 84, 85, 86, 88, 92, 93, 95, 96, 97, 98}