## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [188]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [189]:
# Your code here
sample_list_1 = random.sample(range(101), k=80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [190]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [191]:
# Your code here

sample_list_2 = [random.randint(0, 100) for x in range(80)]

#for x in range(80):
 #   sample_list_2.append(random.randrange(0, 100))

print (sample_list_2)

[78, 35, 24, 24, 95, 42, 53, 19, 53, 35, 62, 35, 24, 49, 51, 12, 25, 70, 94, 49, 2, 94, 1, 24, 67, 41, 29, 97, 43, 25, 14, 34, 87, 60, 18, 52, 67, 65, 52, 6, 79, 95, 3, 94, 0, 41, 1, 17, 90, 26, 50, 25, 10, 26, 17, 44, 95, 66, 53, 38, 67, 77, 93, 48, 27, 74, 0, 3, 10, 99, 27, 68, 56, 9, 87, 93, 1, 68, 85, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [192]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [193]:
# Your code here

set3 = set(set1 - set2)
print (set3)

{4, 5, 7, 8, 11, 13, 15, 20, 22, 23, 28, 30, 31, 32, 40, 45, 47, 54, 55, 57, 58, 59, 61, 63, 64, 69, 71, 73, 75, 76, 80, 81, 82, 84, 86, 89, 92, 96, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [194]:
# Your code here
set4 = set(set2 - set1)
print (set4)

{65, 38, 43, 12, 14, 49, 51, 85, 24, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [195]:
# Your code here

set5 = set1 & set2
#for x in range(len(set1)):
#    if x in set1 and set2:
#        set5.append(x)
print(set5)

{0, 1, 2, 3, 6, 9, 10, 17, 18, 19, 25, 26, 29, 34, 35, 41, 42, 44, 48, 50, 52, 53, 56, 60, 62, 66, 67, 68, 70, 74, 77, 78, 79, 87, 90, 93, 94, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [196]:
# Your code here

print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))
print (len(set1))
print (len(set2))
print (len(set3))
print (len(set4))
print (len(set5))

True
True
80
50
40
10
40

#### Create an empty set called `set6`.

In [197]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [198]:
# Your code here
set6 |= set5 | set3
print (set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 18, 19, 20, 22, 23, 25, 26, 28, 29, 30, 31, 32, 34, 35, 40, 41, 42, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [199]:
# Your code here
set1 <= set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [200]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [201]:
# Your code here
set3_agg = set3.union(set4, set5)
set1_agg = set1.union(set2)

set3_agg == set1_agg

True

#### Using the `pop` method, remove the first element from `set1`.

In [202]:
# Your code here
set1 = list(set1)
print(set1.pop(0))
# pop() does not work as a set and to remove a specific number we need to tranfomr it into a list
set1 = set(set1)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [204]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Your code here
set_to_remove = set(list_to_remove)

set_final = set1 - set_to_remove

print(set_final)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 15, 17, 18, 20, 22, 23, 25, 26, 28, 30, 32, 34, 35, 40, 42, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 84, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98, 100}