## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100), k=80)
        
print (sample_list_1)

[4, 68, 29, 34, 25, 72, 26, 51, 27, 92, 11, 20, 87, 97, 50, 62, 15, 96, 30, 43, 91, 59, 42, 31, 5, 58, 78, 8, 73, 71, 38, 69, 79, 48, 77, 54, 24, 23, 7, 93, 83, 95, 99, 88, 57, 32, 74, 56, 90, 36, 98, 45, 13, 82, 19, 9, 63, 44, 22, 12, 35, 80, 2, 18, 6, 28, 84, 40, 0, 60, 85, 33, 39, 86, 46, 76, 37, 89, 66, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here

set1 = set(sample_list_1)
print (set1)

print("\nYes, lenght is still {}.".format(len(set1)))

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 50, 51, 54, 56, 57, 58, 59, 60, 62, 63, 66, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

Yes, lenght is still 80.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))

print (sample_list_2)

[21, 94, 96, 3, 77, 41, 29, 32, 85, 85, 45, 43, 79, 19, 76, 50, 20, 61, 14, 39, 73, 0, 14, 92, 87, 69, 91, 39, 67, 98, 24, 0, 37, 20, 62, 31, 64, 97, 29, 59, 81, 56, 79, 99, 86, 14, 13, 19, 10, 42, 92, 82, 3, 39, 24, 96, 17, 61, 1, 77, 41, 56, 39, 45, 57, 96, 20, 14, 21, 92, 7, 67, 6, 39, 0, 83, 48, 46, 52, 86]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here

set2 = set (sample_list_2)

print (set2)

print(len(set2))
print ("The lenght is {}".format(len(set2)))

{0, 1, 3, 6, 7, 10, 13, 14, 17, 19, 20, 21, 24, 29, 31, 32, 37, 39, 41, 42, 43, 45, 46, 48, 50, 52, 56, 57, 59, 61, 62, 64, 67, 69, 73, 76, 77, 79, 81, 82, 83, 85, 86, 87, 91, 92, 94, 96, 97, 98, 99}
51
The lenght is 51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here

list3 = []
for i in set1:
    if i not in set2:
        list3.append(i)
        
set3 = set (list3)
print (set3)

{2, 4, 5, 8, 9, 11, 12, 15, 18, 22, 23, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 44, 51, 54, 58, 60, 63, 66, 68, 71, 72, 74, 78, 80, 84, 88, 89, 90, 93, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here

list4 = []

for i in set2:
    if i not in set1:
        list4.append(i)        
    
set4 = set (list4)
print(set4)

{64, 1, 67, 41, 10, 14, 17, 81, 52, 21, 61, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
list5 = []
for i in (set1 and set2):
    list5.append(i)

set5 = set (list5)
print(set5)

{0, 1, 3, 6, 7, 10, 13, 14, 17, 19, 20, 21, 24, 29, 31, 32, 37, 39, 41, 42, 43, 45, 46, 48, 50, 52, 56, 57, 59, 61, 62, 64, 67, 69, 73, 76, 77, 79, 81, 82, 83, 85, 86, 87, 91, 92, 94, 96, 97, 98, 99}

In [9]:
set5= set1.intersection(set2)
print (set5)

{0, 3, 6, 7, 13, 19, 20, 24, 29, 31, 32, 37, 39, 42, 43, 45, 46, 48, 50, 56, 57, 59, 62, 69, 73, 76, 77, 79, 82, 83, 85, 86, 87, 91, 92, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [41]:
# Your code here

print (len(set1))
print (len(set2))
print (len(set3))
print (len(set4))
print (len(set5))

80
51
41
12
39

In [45]:
len(set1) == len(set3)+len(set5)

True

In [46]:
len(set2) == len(set5)+len(set4)

True

In [48]:
len (set3) == len(set1)-len(set5)

True

In [50]:
len(set4) == len(set2)-len(set5)

True

In [51]:
len(set5) == len(set3)-len(set4)

False

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here
set6.update(set3, set5)
print (set6)

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here
set1 == set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

is_sub_set = set1.issubset(set2)
print(is_sub_set)

In [ ]:
is_sub_set2 = set1.issubset(set3)
print(is_sub_set2)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
set345 = set3.union(set4, set5)
print (set345)

set12 = set1.union(set2)
print (set12)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1 = list(set1)
print(set1.pop(0))
set1 = set(set1)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print (set1)